{% extends 'base.html' %}

{% block title %}
    VK Stats
{% endblock %}

{% block body %}
  <main role="main" class="container">
      
    <form action="" method="post">
      <h1 class="mt-5 details">Vk Stats</h1>
      <div class="details">
      <input type="number" name="id"> 
      <input type="submit" value="Найти">
      </div>
    </form>
    {% if deleted %}
      <p class="details2"> К сожалению эта страница удалена или не существует, поэтому просто посмотри на страницу Доры :) </p>
    {% endif %}

    {% if not(finded) %}
      <p class="details2"> Введите ID пользователя </p>
    {% else %}

      <div id="profile">
        <img class="rounded-circle" src={{avatar_url}} alt="Generic placeholder image" width="140" height="140">
        <h2 class="details">{{firstname}} {{lastname}}</h2>    
        {% if status == ""%}
        <blockquote class="blockquote details">Пользователь не любит делитсья своими мыслями</blockquote>
        {% else %}
        <blockquote class="blockquote details">{{status}}</blockquote>
        {% endif %}
        <div class="details">
          {% if private %}
            <a class="btn btn-secondary" href="/" role="button">Это закрытый аккаунт</a>
          {% else %}
            <a class="btn btn-secondary" href="/stats" role="button">View details »</a>
          {% endif %}
        </div>
      </div>
    {% endif %}
  </main>
{% endblock %}