<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static\icon.ico" type="image/x-icon">
    <link href="static\css\style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/26e3ee569a.js"></script>
    <script src="https://vk.com/js/api/openapi.js?169" type="text/javascript"></script>
    <title> VK Stats </title>
</head>
<body>
  <main role="main" class="container">
      
    <form action="" method="post" id="formUserId">
      <h1 class="mt-5 details">Vk Stats</h1>
      <div class="details">
      <input type="number" name="id" id="name"> 
      <input type="submit" value="Найти">
      </div>
    </form>
    {% if deleted %}
      <p class="details2"> К сожалению эта страница удалена или не существует, поэтому просто посмотри на страницу Доры :) </p>
    {% endif %}

    {% if not(finded) %}
      <p class="details2"> Введите ID пользователя </p>
    {% else %}

      <div id="profile">
        <img class="rounded-circle" src="" alt="Generic placeholder image" width="140" height="140">
        <h2 class="details">{{firstname}} {{lastname}}</h2>    
        {% if status == ""%}
        <blockquote class="blockquote details">Пользователь не любит делитсья своими мыслями</blockquote>
        {% else %}
        <blockquote class="blockquote details">{{status}}</blockquote>
        {% endif %}
        <div class="details">
          {% if private %}
            <a class="btn btn-secondary" href="/" role="button">Это закрытый аккаунт</a>
          {% else %}
            <a class="btn btn-secondary" href="/stats" role="button">View details »</a>
          {% endif %}
        </div>
      </div>
    {% endif %}
  </main>
    <footer class="card-footer">
        <div class="container">
          <span class="text-muted">released by @ghostik-gh</span>
        </div>
    </footer>
    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous">
    </script>
    <script src="static\js\main_script.js"></script>
    <script type="text/javascript"> //

      let user_token = ''
      const hash = window.location.hash;
      let flag = false
      for (let char of hash){
          if (char == '&') break;
          if (flag) user_token += char;
          if (char == '=') flag = true; 
      }
      if (user_token == '') user_token = 'cdf6d25892dbdfcef87bafd8530b57ea7d3caf024fd3486aa056a8dfcaa8352acce85504489999c066055';

      console.log("Token =", user_token); 

      const formGetId = document.getElementById('formUserId');
      formGetId.addEventListener('submit', getFormValue);

      function getFormValue(e){
        e.preventDefault();
        userIdName = formGetId.querySelector('[name="id"]');
        userId = userIdName.value;
        console.log(userId)

        var script = document.createElement('SCRIPT');
        script.src = `https://api.vk.com/method/users.get?user_ids=${userId}&fields=bdate&access_token=${user_token}&v=5.131&callback=callbackFunc`;
        document.getElementsByTagName("head")[0].appendChild(script);
      } // Получили User ID но только внутри функции
      function callbackFunc(result) {
          console.log(result.response[0])
      }


   </script>
</body>
</html>