body {
  background-color: #ffe;
}

.ya_map {
  font-family: arial;
  font-size: 12px;
  color: #454545;
}

#map {
  min-width: 600px;
  min-height: 400px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: revert;
}
